[Desktop Entry]
Type=Application
Name=Postvak
GenericName=Mail Client
Comment=Read and sort your mail
Exec=postvak gui
TryExec=postvak
Icon=io.github.postvak_app.postvak
Terminal=false
StartupNotify=true
StartupWMClass=io.github.postvak_app.postvak
Categories=Network;Email;
Keywords=mail;email;IMAP;inbox;rules;
